body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.cons-text,
.team-person,
.contact-item,
.portfolio-item-name,
.portfolio-text,
.cage-text {
  letter-spacing: 0.02em;
}

.cons-text,
.team-role,
.portfolio-text,
.contact-item {
  color: #434455;
}

.team-title,
.portfolio-title {
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-role {
  letter-spacing: 0.02em;
  font-size: 16px;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.team-title,
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
}

.contact-item-title,
.portfolio-item-title,
.team-person,
.cons-item-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team-title,
.portfolio-title,
.contact-item-title,
.portfolio-item-title,
.team-person,
.cons-item-title {
  color: #2e2f42;
}

.hero-title,
.team-title,
.portfolio-title,
.team-person,
.team-role {
  text-align: center;
}

.menu-item {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-item:hover,
.menu-item:focus,
.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
}

.hero-cta {
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  border: none;
  text-align: center;
  line-height: 1.5;
}

.hero-cta:hover,
.hero-cta:focus {
  background-color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light,
.cage-text {
  color: #f4f4fd;
}

.cage {
  letter-spacing: 0.03em;
}

.cage,
.hero {
  background-color: #2e2f42;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 76px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-item {
  padding: 24px 0;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.hero {
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-cta {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
}

.section {
  padding: 120px 0;
}

.cons-list {
  display: flex;
  gap: 24px;
}

.cons-item {
  width: calc((100% - 3 * 24px) / 4);
}

.cons-item-title {
  margin-bottom: 8px;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-data {
  padding: 32px 0px;
  text-align: center;
}

.team-person {
  margin-bottom: 8px;
}

.team-item {
  border-radius: 0 0 4px 4px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-data {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
}

.cage {
  padding: 100px 0;
}

.cage-container {
  display: flex;
  flex-direction: column;
}

.cage-container .logo,
.cage-container .logo-light {
  display: inline-block;
  margin-bottom: 16px;
}

.cage-text {
  width: 264px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
